{% extends 'manage/super/base.html' %}

{% block pageheader %}
善筹管理
{% endblock %}

{% block mainbody %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      {% if goodraise.id %}
      编辑善筹
      {% else %}
      新建善筹
      {% endif %}
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">
    {% if goodraise.id %}
      <p>
        <a class="btn btn-info" href="/admin/{{ goodraise.id }}/good">商品管理</a>
      </p>
    {% endif %}
    <form role="form" method="POST"
      {% if not goodraise.id %}
      action="/admin/goodraise/create"
      {% else %}
      action="/admin/goodraise/{{ goodraise.id }}/edit"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}

    <div class="form-group">
      {% if goodraise %}
      <input type="hidden" id="goodraise-id" name="goodraise-id" value="{{ goodraise.id }}" />
      {% endif %}
      <label for="exampleInputEmail1">标题</label>
      <input type="text" class="form-control" id="title" name="title" placeholder=""
      {% if goodraise %}value="{{ goodraise.title }}"{% endif %} />
      {{error.title_msg|safe}}
    </div>
    <div class="form-group">
      <label for="exampleInputFile">封面图片</label>
      <input type="file" id="cover" name="cover" />
      <p style="margin-top: 10px;">
        {% if goodraise.cover and goodraise.id %}
        <img src="{{ cover_url }}?imageView/2/w/375" />
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">目标金额</label>
      <input type="text" class="form-control" id="total_price" name="total_price" placeholder=""
      {% if goodraise %}value="{{ goodraise.total_price }}"{% endif %} />
       {{error.total_price_msg|safe}}
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">开始时间 - 结束时间</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </div>
        <input type="text" class="form-control" id="daterange" name="daterange"
        value="{% if goodraise %}{{ goodraise.start_time|date:"m/d/Y" }} - {{ goodraise.end_time|date:"m/d/Y" }}{% endif %}" />
      </div>
      {{error.daterange_msg|safe}}
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">简介</label>
      <textarea class="form-control" id="detail" name="detail">{% if goodraise %}{{ goodraise.detail }}{% endif %}</textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">详情</label>
      <textarea class="form-control" id="content" name="content">{% if goodraise %}{{ goodraise.content }}{% endif %}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">
        {% if goodraise.id %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
    </div><!-- /.box-body -->

  <div class="box-footer">
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function () {
  $('#daterange').daterangepicker();
  CKEDITOR.replace('detail');
  CKEDITOR.replace('content');
});
</script>
{% endblock %}
