* { margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box;} 
article,section,nav,address,aside,header,hgroup,footer,time { display:block;}
h1,h2,h3,h4,h5,h6 { font-size:100%; color:#303233;}
ul,ol,li { list-style:none;}
body { font:12px Arial; background-color:#fff; color:#666; height:100%; }
html { -webkit-text-size-adjust: none; height: 100%;}
img { border:0; display:inline-block;}
a { color:#bbbbbc; text-decoration:none;}

.index{ width: 100% ; height: 100%; background: url(../images/background.png) no-repeat 0 0 ; background-size:100% 100%;}
.nav{height: 52px; background: #303133; box-shadow: 0 1px 6px #000; position: relative; }
.nav li{height: 52px; float: left;color: #bbbbbc;}
.nav a.action{color: #EDB30D; border-bottom: 3px solid #EDB30D; }
.nav a{margin:0 22px 0 18px; padding: 18px 0 15px 0; font-size: 15px; font-weight:bold; display: block;}
.user{width: 45px;height:52px; float: right; box-shadow: -2px 0 20px #000; position: absolute; right:0px; background: #303133;}
.user img{margin-top: 14px; margin-left: 10px;}
.logo{margin-top: 390px; text-align: center;}
.about{height: 35px; width: 115px; border-radius: 40px; border: 2px solid #FBBC05; margin: 0 auto; text-align: center; margin-top: 30px;}
span{color:#FBBC05; line-height: 32px; }
.temple-box{padding:75px 20px 65px; }
.abbot-box{padding:50px 20px 74px; background: #f7f7f7;}
h5{font-size: 12px; text-align: center; letter-spacing:8px;}
h1{font-size: 21px; text-align: center; margin-top: 15px;}
.line{height: 2px; width: 35px; background: #FBBC05; margin:0 auto; margin-top: 17px; margin-bottom: 2px;}
p{margin-top: 33px; font-size: 14px; color: #797979;letter-spacing:1px; line-height: 21px;}
img{margin-top: 33px;}
.introduce-abbot .born{text-align: center;}
h3{font-size: 19px; margin-top: 20px;}
h4{font-size: 14px; margin-top: 10px; font-weight: normal;}
.more{ border-radius: 40px; border: 2px solid #FBBC05; margin: 0 auto; text-align: center; margin-top: 40px; }
