{% extends 'shiling/base.html' %}
{% block mainbody %}
	<div class="nav">
		<ul class="text special">			
			<li><a href="/index" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
		</ul>
	</div>
	<div class="user">
		<a href="/user/login">
			<img src="/static/images/user-icon.png" width="26">
		</a>
	</div>
	<div class="event">
		<div class="hd">
			<h2>{{activity.title}}</h2>
			<div class="news-info">
				<ul>
					<li>
						<img src="/static/images/look.png" width="14">&nbsp;{{activity.views_count}}					
					</li>
					<li>
						<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					</li>
					<li>
						<img src="/static/images/clock.png" width="10">&nbsp;{{activity.end_time}}
					</li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="start">
				<span>查看报名名单</span>
			</div>
			<div class="clear"></div>
		</div>
		<div class="form">
			<table cellspacing="0" cellpadding="0">
				<tr>
    				<td class="title">人数</td>
   					<td class="title-bd">{{activityattendees|length}}/{{activity.people_number}}</td>
				</tr>
 				<tr>
					<td class="title">地址</td>
					<td class="title-bd">{{activity.address}}</td>
				</tr>
				<tr>
					<td class="title">时间</td>
					<td class="title-bd">{{activity.start_time}}～{{activity.end_time}}</td>
				</tr>
			</table>
		</div>
		<div class="event-content">
			<div class="content">
				<div class="abbot-box">
					<div class="introduce-abbot">
						<h1>{{activity.name}}</h1>
 						<div class="">
 							{{activity.content}}
 						</div>
						<img src="http://placehold.it/335x132" width="100%">
					</div>
				</div>
			</div>
		</div>
		<div class="provide-btn">
			<div class="button01">
				<a ><h3>参加活动</h3></a>
			</div>
		</div>
	
<!-- 信息登记 -->

<div class="pop pop1">
	<div class="apply">
		<div class="apply-hd">
			<h2>信息登记</h2>
			<a href=""><img src="/static/images/close.png" width="14"></a>
		</div>
		<div class="apply-bd">	
			<div class="sign-in">
			<div class="sign-in-info">
				<ul>
					<li>
					<input type="text" name="name" id="name" placeholder="姓名" />
					</li>
					<li>
					<input type="text" name="phone" id="phone" placeholder="电话" />
					</li>
				</ul>
			</div>
			</div>
		</div>
		<div class="provide-btn">
			<div class="button01">
				<a href=""><h3>报名</h3></a>
			</div>
		</div>
	</div>
</div>

<!-- 报名名单 -->

<div class="pop pop2">
	<div class="apply">
		<div class="apply-hd">
			<h2>{{activity.title}}</h2>
			<h4>({{activityattendees|length}}/{{activity.people_number}})</h4>
		</div>
		<a id="close2"><img src="/static/images/close.png" width="14"></a>
		<div class="sign-up">
			<ul>
				{% for activityattendee in activityattendees %}
				<li>
					<div class="apply-info">
						<ul>
							<li>
								<div class="vertica">
								</div>
							</li>
							<li class="grey">
								<h3>{{activityattendee.name}}</h3>
							</li>
							<div class="clear"></div>
						</ul>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
<script>
	$(function(){
		$('.pop1').hide();
		$('.pop2').hide();
		$(".provide-btn").on('click',function(){
			$(".pop1").show();
			$(".pop2").hide();
		})
		$(".start").on('click',function(){
			$(".pop1").hide();
			$(".pop2").show();
		})
		$("#close1").on('click',function(){
			$(".pop1").hide();
		})
		$("#close2").on('click',function(){
			$(".pop2").hide();
		})
		$("#pop1-btn").on('click',function(){
			var name = $("#name").val();
			var phone = $("#phone").val();
			if (!checkphone(phone)) {
				alert("请输入正确手机号");
				return false;
			}
			$.ajax({
				url:"{{DOMAIN}}/activity/{{activity.id}}/signup",
				method:'POST',
				data:{ name:name, phone:phone},
				success:function(jsonobj){
					jsonobj = JSON.parse(jsonobj);
					alert(jsonobj.msg);
					if (jsonobj.error == 0) {
						window.location.reload();
					}
				},
			})
		})		
	})
</script>
{% endblock %}