{% extends 'shiling/base.html' %}
{% block mainbody %}
	<div class="nav">
		<ul class="text special">
			<li><a href="/" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
		</ul>
	</div>
	<div class="user">
		<a href="/cuser/login">
			<img src="/static/images/user-icon.png" width="26">
		</a>
	</div>
	<div class="pray-box">
		<div class="pray-hd">
			<div class="pray">
				<div class="pic">
					<img src="{{temple.mage.cover_url}}" width="100%">
				</div>
				<h1>{{temple.mage.mage_num}}</h1>
				<div class="pray-text">
					<a href=""><span>人气&nbsp;{{temple.mage.sentiment}}</span></a><span>&nbsp;&nbsp;｜&nbsp;&nbsp;</span><a href=""><span>佛法&nbsp;{{bknow}}</span></a>
				</div>
				<div class="pray-nav">
					<ul>
						<li id="main">
							<h4>主页</h4>
						</li>
						<li id="bless">
							<h4>祈福墙</h4>
						</li>
					</ul>					
				</div>
			</div>
		</div>
	</div>
	<div class="abbot-index">
		<div class="content">
			<p>{{temple.mage.detail|safe}}</p>
			{% if temple.mage.cover %}
				<img src="{{temple.mage.cover_url}}" width="100%">
			{% endif%}
			<div class="more" id = "mage">
				<span>更多介绍</span>
			</div>
		</div>
	</div>
	<div class="pray-bd">
		<ul>
			<li>
				<div class="model">
					<div class="pray-bd-pic">
						{% if temple.mage.cover %}
						<img src="{{temple.mage.cover_url}}"  width="100%">
						{% endif %}
					</div>
					<div class="pray-bd-content">
						<h4>日行一善,随喜供养!虔诚供养共计1.00元功德无量</h4>
						<div class="data">
							<div class="left">
								<h5>上海市&nbsp匿名</h5>
							</div>
							<div class="right">
								<h5>大约3小时前</h5>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</li>
		</ul>
	</div>
{% endblock %}
{% block script %}
<script>
	$(function(){
		$(".abbot-index").hide();
		$(".pray-bd").show();
		$('#bless').addClass('select');
		$("#main").on('click',function(){
			$(".abbot-index").show();
			$(".pray-bd").hide();
			$("#bless").removeClass('select');
			$(this).addClass('select');
		})
		$("#bless").on('click',function(){
			$(".abbot-index").hide();
			$(".pray-bd").show();
			$("#main").removeClass('select');
			$(this).addClass('select');
		})
		$("#mage").on('click',function(){
			$.ajax({
				url:"{{DOMAIN}}/sentiment/{{temple.mage.id}}",
				method:'GET',
				success:function(jsonobj){
					jsonobj = JSON.parse(jsonobj);
					if (jsonobj.error == 0) {
						window.location.href = '/host_detail/{{temple.mage.id}}';
					};
				},
			})
		})	
	})
</script>
{% endblock %}