{% extends 'shiling/base.html' %}
{% block mainbody %}
	<div class="nav">
		<ul class="text special">
			<li><a href="/" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
		</ul>
	</div>
	<div class="user">
		<a href="/cuser/login">
			<img src="/static/images/user-icon.png" width="26">
		</a>
	</div>
	<div class="financing-detail-box">
		<div class="model1">
			<div class="hd">
				<h2>{{goodraise.title}}</h2>
				<div><img src="/static/images/clock.png" width="10">&nbsp;<span>{{goodraise.end_time}}</span></div>
			</div>
			<div class="img-box"><img src="{{goodraise.cover_url}}" width="100%"></div>
			<div class="Progress">
				<div class="Progress-bar">
					<div class="Progress-accomplish"></div>
					<h5>{{support_price_num}}/{{goodraise.total_price}}</h5>
				</div>	
			</div>
			<div class="donation">
				<div class="amount-of-money">
					<div class="icon">
						<span>￥</span>	
					</div>
					<div class="icon-bd wechat_pay">
						<input type="hidden" id="title" value="善筹" />
						<input type="hidden" id="detail" value="随喜" />
						<input type="text" id="money" placeholder="输入随喜金额" />
						<input type="hidden" id="redirect_uri" value="{{redirect_uri}}" />
					</div>
				</div>
				<div class="button01 wechat_pay">
					<h3>随喜确认</h3>
				</div>
			</div>
		</div>
		<div class="model2">
			<ul>
				{% for good in goods %}
				<li>
					<h2>{{good.name}}</h2>
					<ul>
						<li class="left">
							<h3>已有9人支持</h3>
						</li>
						<li class="right">
						<a href="/good_pay/{{good.id}}">
							<div class="start">
								<span>支持{{good.support_price}}元</span>
							</div>
						</a>
						</li>
						<div class="clear"></div>				
					</ul>			
				</li>
				{% endfor %}
			</ul>		
		</div>
		<div class="model3">
			<div class="content">
				<div class="abbot-box">
					<div class="introduce-abbot">
						<h5>详情</h5>
						<h1>{{goodraise.title}}</h1>
						<div class="line"></div>
 						<div class="goodraise-content">
 							{{goodraise.content|safe}}
 						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="model4">
			<div class="model4-hd">
				<h1>参与名单</h1>
				<div class="line"></div>
			</div>
			<ul>
				<li>
					<div class="model4-box">
						<ul>
							<li>
								<div class="pray-bd-pic">
									<img src="http://placehold.it/52x52">
								</div>
							</li>
							<li class="model4-info">
								<h3>匿名</h3>
								<h5>一天前</h5>
							</li>
							<li class="right">
								<h3>捐助了<span>500</span>元</h3>
							</li>

						</ul>
					</div>				
				</li>
			</ul>
		</div>
	</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
	$(function(){
		$('.wechat_pay').on('click',function(){
			var price = $(this).parent().find('#money').val()
			var body = $(this).parent().find('#title').val()
			var detail = $(this).parent().find('#detail').val()
			var redirect_uri = $('#redirect_uri').val()
			if (price>=0.01) {
				form = $("<form method='post' action='/wechat_pay/'></form>")
				input1 = $("<input type='text'>").val(price).attr('name','price')
				input2 = $("<input type='text'>").val(body).attr('name','body')
				input3 = $("<input type='text'>").val(detail).attr('name','detail')
				input4 = $("<input type='text'>").val(redirect_uri).attr('name','redirect_uri')
				form.append(input1)
				form.append(input2)
				form.append(input3)
				form.append(input4)
				form.submit()
			};
		})
	})
</script>
{% endblock %}