{% extends 'shiling/base.html' %}
{% block mainbody %}
<div class="detail">	
	<div class="nav">
		<ul class="text special">
			<li><a href="/" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
		</ul>
	</div>
	<div class="user">
		<a href="/cuser/login">
			<img src="/static/images/user-icon.png" width="26">
		</a>
	</div>
	<form role="form" method="POST" id="formid" action="/wechat_pay/">
		<div class="thanks-financing-box">
			<div class="hd">
				<h2>{{good.name}}</h2>
			</div>
			<div class="thanks-financing-bd">
				<div class="thanks-financing">
					<div class="img-box"><img src="http://placehold.it/335x132" width="100%"></div>
				</div>
				<div class="provide-content">
					<h1>￥{{good.support_price}}元</h1>
					<p>{{good.detail}}</p>
				</div>
				<div class="thanks-pay">
					<input type="hidden" name="body" value="{{good.title}}"/>
					<input type="hidden" name="detail" value="{{good.detail}}"/>
					<input type="hidden" name="price" value="{{good.support_price}}"/>
					<input type="radio"/>&nbsp;&nbsp;匿名支付，金额：{{good.support_price}}元
				</div>
			</div>
		</div>
		<div class="provide-btn">
			<button class="button01"><h3>微信支付</h3></button>
		</div>
	</form>
</div>
{% endblock %}