<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>揭西石灵寺</title>   
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="nav">
		<ul class="text">			
			<li><a href="">活动</a></li>
			<li><a href="">新闻</a></li>
			<li><a href="">义工</a></li>
			<li><a href="" class="action">佛教知识</a></li>
		</ul>
		<div class="user"><a href="">
		<img src="images/user-icon.png" width="26">
		</a></div>
	</div>
		<div class="guanyin-box">
			<div class="guanyin">
				<div class="guanyin-hd">
					<h5>渔篮观音</h5>
					<h1>手持鱼篮，又称马郎妇观音</h1>
				</div>
				<div class="line"></div>
				<div class="content">	
					<p>佛教中三十三观音之一。手持鱼篮。明宋濂有《鱼篮观音像赞》："序按《观音感应传》:唐元和十二年﹐陕右金沙滩上有一美艳女子﹐絜篮粥鱼﹐人竞欲室之。女曰:'妾能授经﹐一夕能诵《普门品》者﹐事焉。</p>
					<p>'黎明﹐能者二十。女辞曰:'一身岂堪配众夫邪！请易《金刚经》﹐如前期。'能者复居其半。女又辞﹐请易《法华经》﹐期以三日。惟马氏子能。女令具礼成婚。入门﹐女即死﹐死即糜烂立尽﹐遽瘗之。他日﹐有僧同马氏子启藏观之﹐惟有黄金锁子骨存焉。僧曰:'此观音示现以化汝耳。'言讫飞空而去。自是陕西多诵经者。"</p>
					<img src="http://placehold.it/335x132" width="100%">
					<h2>故事</h2>
					<p class="first">相传东海之滨的人们身居化外，不知礼仪。观音菩萨便化作一个美丽的渔妇前来点化。菩萨承诺谁能背诵她所教的佛经便嫁给谁做妻子，结果有一个叫马郎的渔夫如愿以偿，并最终得到了菩萨的点化。表示众生做任何事都要有信心，只要树立坚定的信心，就能得到观音菩萨的帮助，同时也能影响周身的人们。</p>
					<h2>形象</h2>
					<p class="first">鱼篮观音是三十三观音相之一，脚踏鳌背，手提盛鱼的竹篮或为手提鱼篮的民间少妇形象，又称马郎妇观音。</p>
					<h2>传说</h2>
					<p class="first">传说观音菩萨得道之后，便化作普通百姓，深入下层人民，对他们进行教化。有一次，观音得知东海之滨住着很多化外之民，不懂礼仪，不谙教化，于是变化成一名渔妇来到东海之滨一个小镇。正赶是小镇的集市很热闹，便提着一只竹篮，竹篮里装着两尾鱼，便混迹在那一群卖鱼人当中。</p>
					<p>众人忽然看见一个很漂亮的渔妇来卖鱼，便一拥而上，纷纷抢着买鱼。可是渔妇却问他们：“你们买鱼作什么用呢？”众人都说：“当然是回去做菜吃。”渔妇却微笑着说：“我这鱼呀，不能卖给你们做菜，只能卖给你们放生“。众人一听，都不愿意，谁也不想花钱买条鱼又放了。结果渔妇站了一天，两尾鱼都没有买出去。第二天早上，渔妇又来了，仍然坚持只能卖给他们放生，结果还是没有人愿意买。只是有个马朗的人却开始注意渔妇他发现那渔妇卖的还是昨天那两尾鱼，可是那鱼离开了水整整两天还是活蹦乱跳，实在有点不可思议，可又实在看不出什么名堂。</p>
					<p>不久，金沙滩上的渔民，特别是那些单身汉，见渔妇长得实在漂亮，于是便纷纷跑来说亲，争着想娶她为妻。渔妇笑着说：“你们这么多人，叫我嫁给谁呢?这样吧，我教你们颂经，你们谁先在一天之内学会，我就嫁给谁。”大家一听，都觉得可行，于是便答应了。渔妇便教他们念颂《普门品》，结果一天之后，有半数的人背会了。渔妇又说：“还是不行，《普门品》只是入门的，还不能最后分出胜负，我再教你们念《金刚经》，谁一夜之间念会，我就嫁给谁。” 十多个人都同意了。于是渔妇又教他们念《金刚经》，第二天，能完全背会的，只有三四个人。其他人只好怏怏不乐地走了。渔妇又对剩下的几个人说： “ </p>
					<p>先别急，最后的胜负还没有分出米，我这里还有一部大乘宝藏《法华经》，谁能在三天之内背会，我一定嫁给他。”结果三天之后，只有马郎一个人背会了。于是渔妇便答应嫁给马郎。可是新婚那天，新娘却无缘无故地死了，而且尸体很快就腐烂了。马郎很是难过，可又没有办法，虽然心中奇怪，也只好将尸体掩埋了。此后，马郎经常没事的时候便念颂渔妇教给他的三部经，念来念去，竞也悟出了很多道理。</p>
					<p>观音菩萨脱身离去之后，经过一段时间的观察，发现马郎已经开始悟道，于是便又变成一个老和尚，前去点化马郎，跟他谈经论道，指点迷津。后来又告诉他，原来他以前娶的那个渔妇是观音菩萨变的，不信可以掘开坟幕看看。马郎将信将疑，果真跑去掘开了坟墓，里面真的没有尸体，却只有一副黄金锁子骨。那老和尚说：“现在相信了吧，菩萨化身渔妇是为了点化你。她既然教给你三部经书，你就应该宣扬佛法，切莫辜负菩萨一片度化之心。”马郎听了，连连点头，忽然那和尚就不见了。马郎知道肯定又是菩萨在点化他，于是回去之后，便把自己三间草屋变成庵堂，又塑了菩萨的神像供奉起来，仍然是渔妇的模样，人们便称之为“鱼篮观音”。</p>
					<h2>诗赞</h2>
					<p class="first">除障鱼篮观世音&nbsp慈无能胜演圆音<br>精真洞然众业海&nbsp六道群迷蒙慈恩</p> 
					<h2>愿力</h2>
					<p class="first">鱼篮观音护佑：婚姻美满，白头偕老。</p>
				</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html> 