<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>揭西石灵寺</title>   
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="nav">
		<ul class="text">
			<li><a href="">首页</a></li>
			<li><a href="" class="action">供养</a></li>
			<li><a href="">善筹</a></li>
			<li><a href="">祈福</a></li>
			<li><a href="">活动</a></li>
		</ul>
		<div class="user"><a href="">
			<img src="images/user-icon.png" width="26">
		</a></div>
	</div>
	<div class="detail">
		<div class="provide-box">
			<div class="provide">
				<div class="provide-hd">
					<h2>供养佛花</h2>
				</div>
				<div class="provide-bd">
					<div class="provide-pic">
						<img src="http://placehold.it/335x132" width="100%">
					</div>
					<div class="provide-content">
						<h1>￥1.00元</h1>
						<p>佛堂供花喻佛之智，表智慧为成佛之母，般若波罗蜜为慈航之舟；要贡鲜花。供佛不供假物。花给人以温馨、喜悦、美好、美丽，让人赏心悦目。供鲜花为庄严，尊敬。佛前供鲜花得庄严、美丽、英俊潇洒报。</p>
					</div>	
				</div>
			</div>
		</div>
		<div class="provide-btn">
			<div class="button01">
				<a href=""><h3>供养功德</h3></a>
			</div>
		</div>
	</div>
</body>
</html> 