<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>揭西石灵寺</title>   
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="nav">
		<ul class="text">			
			<li><a href="">活动</a></li>
			<li><a href="">新闻</a></li>
			<li><a href="">义工</a></li>
			<li><a href="" class="action">佛教知识</a></li>
		</ul>
		<div class="user"><a href="">
			<img src="images/user-icon.png" width="26">
		</a></div>
	</div>
	<div class="knowledge">
		<ul>
			<li>
				<a href="">
					<div class="pic">
						<img src="http://placehold.it/120x120">
					</div>
				</a>
				<h3>杨柳观音</h3>
				<a href=""><h5>查&nbsp看&nbsp详&nbsp情</h5></a>
			</li>
			<li>
				<a href="">
					<div class="pic">
						<img src="http://placehold.it/120x120">
					</div>
				</a>
				<h3>施药观音</h3>
				<a href=""><h5>查&nbsp看&nbsp详&nbsp情</h5></a>
			</li>
			<li>
				<a href="">
					<div class="pic">
						<img src="http://placehold.it/120x120">
					</div>
				</a>
				<h3>送子观音</h3>
				<a href=""><h5>查&nbsp看&nbsp详&nbsp情</h5></a>
			</li>
			<li>
				<a href="">
					<div class="pic">
						<img src="http://placehold.it/120x120">
					</div>
				</a>
				<h3>鱼篮观音</h3>
				<a href=""><h5>查&nbsp看&nbsp详&nbsp情</h5></a>
			</li>
		</ul>
	</div>