{% extends 'shiling/base.html' %}
{% block mainbody %}
	<div class="index">
		<div class="nav">
			<ul class="text">
			<li><a href="/" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
			</ul>
		</div>
		<div class="user">
			<a href="/cuser/login">
			<img src="/static/images/user-icon.png" width="26">
			</a>
		</div>
		<div class="logo">
			<img src="/static/images/logo.png" width="142">
		</div>
		<a href="">
			<div class="about" id="about">
				<span>关于寺院</span>
			</div>
		</a>
	</div>
	<div class="content">
		<div class="temple-box">
			<div class="introduce-temple">
				<h5>寺院介绍</h5>
				<h1>{{temple.title}}</h1>
				<div class="line"></div>
				<div class="temple-content">
					{{temple.content|safe}}
				</div>
			</div>
		</div>
		<div class="abbot-box">
			<div class="introduce-abbot">
				<h5>住持介绍</h5>
				<h1>{{temple.mage.name}}</h1>
				<div class="line"></div>
				<div class="born">
					{{temple.mage.detail|safe}}
				</div>
				{% if temple.mage.cover %}
					<img src="{{temple.mage.cover_url}}" width="100%";>
				{% endif %}
				<h2>{{temple.mage.mage_num}}</h2>
				<h4>住持</h4>
 				<div class="mage-content">
 					{{temple.mage.content|safe}}
 				</div>
			</div>
			<div class="more" id="mage">
				<span>更多介绍</span>
			</div>
		</div>
	</div>
{% endblock %}
{% block script %}
<script>
	$(function(){
		$("#about").on('click',function(){
			var w_height = $(window).height();
			$("body").scrollTop(w_height);
		})
		$("#mage").on('click',function(){
			$.ajax({
				url:"{{DOMAIN}}/sentiment/{{temple.mage.id}}",
				method:'GET',
				success:function(jsonobj){
					jsonobj = JSON.parse(jsonobj);
					if (jsonobj.error == 0) {
						window.location.href = '/host_detail/{{temple.mage.id}}';
					};
				},
			})
		})		
	})
</script>
{% endblock %}