<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>揭西石灵寺</title>   
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="nav">
		<ul class="text">			
			<li><a href="" class="action">账户</a></li>
			<li><a href="">捐助</a></li>
			<li><a href="">活动</a></li>
			<li><a href="">留言</a></li>
		</ul>
		<div class="user"><a href="">
			<img src="http://placehold.it/24x24" width="24">
		</a></div>
	</div>
	<div class="detail">
		<div class="login">
			<div class="login-info">
				<div class="login-info-hd">
					<h5>个人资料</h5>
				</div>
				<div class="login-bd">
					<ul>
						<li class="head-portrait">
							<ul>
								<li>
									<div class="left">
										<h3>头像</h3>
									</div>
									<div class="right">
										<a href="">
											<img src="http://placehold.it/45x45" >
										</a>
									</div>
									<div class="clear"></div>								
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<div class="left">
										<h3>昵称</h3>
									</div>
									<div class="right">
										<h4>用户15176610037</h4>
									</div>
									<div class="clear"></div>								
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
			<div class="login-info">
				<div class="login-info-hd">
					<h5>账号信息</h5>
				</div>
				<div class="login-bd">
					<ul>
						<li class="bottom-line">
							<ul>
								<li>
									<div class="left">
										<h3>手机号</h3>
									</div>
									<div class="right">
										<h4>用户151****0037</h4>
									</div>
									<div class="clear"></div>								
								</li>
							</ul>
						</li>
						<li>
							<ul>
								<li>
									<div class="left">
										<h3>修改密码</h3>
									</div>
									<div class="right">
										<div class="arrows">
										<a href="">
											<img src="images/arrows.png"  width="9">
										</a>
										</div>
									</div>
									<div class="clear"></div>								
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="provide-btn">
			<div class="button01">
				<a href=""><h3>确认</h3></a>
			</div>
			<div class="button02">
				<a href=""><h3>退出</h3></a>
			</div>
		</div>
	</div>
</body>
</html> 