<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>揭西石灵寺</title>   
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
	<div class="nav">
		<ul class="text">			
			<li><a href="">账户</a></li>
			<li><a href="" class="action">捐助</a></li>
			<li><a href="">活动</a></li>
			<li><a href="">留言</a></li>
		</ul>
		<div class="user"><a href="">
			<img src="http://placehold.it/24x24" width="24">
		</a></div>
	</div>
	<div class="contribute">
		<div class="contribute-hd">	
			<h5>供养和祈福的纪录</h5>
		</div>
		<div class="form">
			<table cellspacing="0" cellpadding="0">
				<tr>
    				<td class="title">时间</td>
   					<td class="text">2016-04-16 10:29:30</td>
				</tr>
 				<tr class="bless">
					<td class="title">祈福</td>
					<td class="text">日行一善，随喜供养！完成供养共计1.00元<br>功德无量！</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>