<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<title>找回密码</title>   
<link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
<div class="detail">
	<div class="retrieve-password">
		<div class="retrieve-password-hd">
			<h5>输入密码</h5>
		</div>
		<div class="retrieve-password-bd">
			<ul>
				<li class="head-portrait">
					<div>
						<h3>手机号码</h3>
					</div>
				</li>
				<li class="security-code">
					<ul>
						<li>
							<div class="left">
								<h3>验证码</h3>
							</div>
						</li>
						<li>
							<div class="right">
								<h3>获取验证码</h3>
							</div>
						</li>
						<div class="clear"></div>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="provide-btn">
		<div class="button01">
			<a href=""><h3>找回密码</h3></a>
	</div>
</div>
</body>
</html> 