{% extends 'shiling/base.html' %}
{% block mainbody %}
	<div class="nav">
		<ul class="text special">			
			<li><a href="/" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
		</ul>
	</div>
	<div class="user">
		<a href="/cuser/login">
			<img src="/static/images/user-icon.png" width="26">
		</a>
	</div>
	<div class="news-detail">
		<div class="hd">
			<h2>{{new.title}}</h2>
			<div class="news-info">
				<ul>
					<li>
						<img src="/static/images/look.png" width="14">&nbsp;{{new.views_count}}					
					</li>
					<li>
						<span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
					</li>
					<li>
						<img src="/static/images/clock.png" width="10">&nbsp;{{new.end_time}}
					</li>
				</ul>
			</div>
		</div>
		<div class="news-pic">
			<img src="{{new.cover_url}}" width="100%">
			<div class="new-content">
				{{new.content|safe}}
			</div>
		</div>
	</div>
{% endblock %}