{% extends 'shiling/base.html' %}
{% block mainbody %}
	<div class="nav">
		<ul class="text">
			<li><a href="/" {% if not module or module == 'shouye' %}class="action" {% endif %}>首页</a></li>
			<li><a href="/provide" {% if module == 'provide' %}class="action" {% endif %}>供养</a></li>
			<li><a href="/goodraise" {% if module == 'goodraise' %}class="action" {% endif %}>善筹</a></li>
			<li><a href="/blessing" {% if module == 'blessing' %}class="action" {% endif %}>祈福</a></li>
			<li><a href="/activity" {% if module == 'activity' %}class="action" {% endif %}>活动</a></li>
			<li><a href="/news" {% if module == 'news' %}class="action" {% endif %}>新闻</a></li>
			<li><a href="/volunteer" {% if module == 'volunteer' %}class="action" {% endif %}>义工</a></li>
			<li><a href="/buddhismknowledge" class="special" {% if module == 'buddhismknowledge' %}  action {% endif %} >佛教知识</a></li>
		</ul>
		<div class="user">
			<a href="/cuser/login">
				<img src="/static/images/user-icon.png" width="26">
			</a>
		</div>
	</div>
	<div class="detail">
		<div class="provide-box">
			<div class="provide">
				<div class="provide-hd">
					<h2>{{provide.subtitle}}</h2>
				</div>
				<div class="provide-bd">
					<div class="provide-pic">
					{% if provide.banner_cover %}
						<img src="{{provide.banner_cover_url}}" width="100%">
					{% endif %}
					</div>
					<div class="provide-content">
						<h1>￥{{provide.price}}元</h1>
						<p>{{provide.detail|safe}}</p>
					</div>	
				</div>
			</div>
		</div>
		<div class="provide-btn">
			<div class="button01">
				<a href="/provide_pay/{{provide.id}}"><h3>供养功德</h3></a>
			</div>
		</div>
	</div>
{% endblock %}