{% extends 'shiling/base.html' %}
{% block mainbody %}
<div class="detail">
	<form role="form" method="POST" id="formid">
	{% csrf_token %}
	<div class="retrieve-password">
		<div class="retrieve-password-hd">
			<h5>必填信息</h5>
		</div>
		<div class="retrieve-password-bd">
			<div class="sign-in-info">
				<div class="sign-in-info-box sign-in-info-bottom">
					<input type="text" name="phone" id="phone" placeholder="手机号码" />
				</div>
				<div class="security-code">
					<div class="sign-in-info-box">
						<div class="left">
							<input type="text" name="num" id="num" placeholder="验证码" />
						</div>
						<div class="right">
							<h3>获取验证码</h3>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="retrieve-password">
		<div class="retrieve-password-hd">
			<h5>密码</h5>
		</div>
		<div class="retrieve-password-bd">
			<div class="sign-in-info">
				<div class="sign-in-info-box">
					<input type="pwd" name="pwd" id="pwd" placeholder="输入密码，至少6位"/>
				</div>	
			</div>
		</div>
	</div>
	<div class="provide-btn">
		<div class="button01">
			<a id="submit" href=""><h3>注册</h3></a>
		</div>
	</div>
	</form>
</div>
{% endblock %}
{% block script %}
<script>
	$(function(){
		$("#submit").on('click',function(){
			var phone = $("#phone").val();
			var pwd = $("#pwd").val();
			if (!phone || !pwd) {
				alert("请输入完整信息");
				return false;
			}
			if (!checkphone(phone)) {
				alert("请输入正确手机号");
				return false;
			}
			if (pwd.length<6) {
				alert("密码至少6位")
				return false;
			}
			//校验手机是否已注册
			$.ajax({
				url:"{{DOMAIN}}/cuser/phone/"+phone,
				method:'GET',
				success:function(jsonobj){
					var jsonobj = JSON.parse(jsonobj);
					if (jsonobj.error == 1) {
						alert(jsonobj.msg);
						window.location.href = '{{DOMAIN}}/cuser/login/';
					}else{
						$("#formid").submit();
					}
					
				},
			})
		})
	})
</script>
{% endblock %}