{% extends 'manage/super/base.html' %}

{% block pageheader %}
日行一善
{% endblock %}

{% block mainbody %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
    日行一善
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->
  <form role="form" method="POST" action="/admin/gooddeedday" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="box-body">
      <div class="form-group">
        {% if gooddeedday %}
        <input type="hidden" id="gooddeedday-id" name="gooddeedday-id" value="{{ gooddeedday.id }}" />
        {% endif %}
        <label for="exampleInputEmail1">标题</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="输入标题"
        {% if gooddeedday %}value="{{ gooddeedday.title }}"{% endif %} />
      </div>
      <div class="form-group">
        <label for="exampleInputFile">封面图片</label>
        <input type="file" id="cover" name="cover" />
        <p style="margin-top: 10px;">
          {% if gooddeedday.cover %}
          <img src="{{ cover_url }}?imageView/2/w/375" />
          {% endif %}
        </p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">捐赠1标题</label>
        <input type="text" class="form-control" id="sub_title1" name="sub_title1" placeholder="输入标题"
        {% if gooddeedday %}value="{{ gooddeedday.sub_title1 }}"{% endif %}/>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">捐赠1简介</label>
        <input type="text" class="form-control" id="sub_detail1" name="sub_detail1" placeholder="输入简介"
        {% if gooddeedday %}value="{{ gooddeedday.sub_detail1 }}"{% endif %}/>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">捐赠1封面</label>
        <input type="file" id="sub_cover1" name="sub_cover1" />
        <p style="margin-top: 10px;">
          {% if gooddeedday.sub_cover1 %}
          <img src="{{ sub_cover_url1 }}?imageView/2/w/375" />
          {% endif %}
        </p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">价格1</label>
        <input type="text" class="form-control" id="sub_price1" name="sub_price1" placeholder="输入价格"
        {% if gooddeedday %}value="{{ gooddeedday.sub_price1 }}"{% endif %}/>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">捐赠2标题</label>
        <input type="text" class="form-control" id="sub_title2" name="sub_title2" placeholder="输入标题"
        {% if gooddeedday %}value="{{ gooddeedday.sub_title2 }}"{% endif %}/>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">捐赠2简介</label>
        <input type="text" class="form-control" id="sub_detail2" name="sub_detail2" placeholder="输入简介"
        {% if gooddeedday %}value="{{ gooddeedday.sub_detail2 }}"{% endif %}/>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">捐赠2封面</label>
        <input type="file" id="sub_cover2" name="sub_cover2" />
        <p style="margin-top: 10px;">
          {% if gooddeedday.sub_cover2 %}
          <img src="{{ sub_cover_url2 }}?imageView/2/w/375" />
          {% endif %}
        </p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">价格2</label>
        <input type="text" class="form-control" id="sub_price2" name="sub_price2" placeholder="输入价格"
        {% if gooddeedday %}value="{{ gooddeedday.sub_price2 }}"{% endif %}/>
      </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary pull-right">
        {% if gooddeedday %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
</div>
{% endblock %}
{% block script %}
<script>
$(function () {
  CKEDITOR.replace('content');
});
</script>
{% endblock %}


