{% extends 'manage/super/base.html' %}

{% block pageheader %}
佛教知识管理
{% endblock %}

{% block mainbody %}
<div class="box box-primary">
  <div class="box-header with-border">
    <h3 class="box-title">
      {% if buddhismknowledge.id %}
      编辑佛教知识
      {% else %}
      新建佛教知识
      {% endif %}
    </h3>
  </div><!-- /.box-header -->
  <!-- form start -->

  <div class="box-body">

    <form role="form" method="POST"
      {% if not buddhismknowledge.id %}
      action="/admin/buddhismknowledge/create"
      {% else %}
      action="/admin/buddhismknowledge/{{ buddhismknowledge.id }}/edit"
      {% endif %}
      enctype="multipart/form-data">
      {% csrf_token %}

    <div class="form-group">
      {% if buddhismknowledge.id %}
      <input type="hidden" id="buddhismknowledge-id" name="buddhismknowledge-id" value="{{ buddhismknowledge.id }}" />
      {% endif %}
      <label for="exampleInputEmail1">标题</label>
      <input type="text" class="form-control" id="title" name="title" placeholder=""
      {% if buddhismknowledge %}value="{{ buddhismknowledge.title }}"{% endif %} />
      {{error.title_msg|safe}}
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">子标题</label>
      <input type="text" class="form-control" id="subtitle" name="subtitle" placeholder=""
      {% if buddhismknowledge %}value="{{ buddhismknowledge.subtitle }}"{% endif %} />
      {{error.subtitle_msg|safe}}
    </div>
    <div class="form-group">
      <label for="exampleInputFile">封面图片</label>
      <input type="file" id="cover" name="cover" />
      <p style="margin-top: 10px;">
        {% if buddhismknowledge.cover and buddhismknowledge.id %}
        <img src="{{ cover_url }}?imageView/2/w/375" />
        {% endif %}
      </p>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">详情</label>
      <textarea class="form-control" id="content" name="content">{% if buddhismknowledge %}{{ buddhismknowledge.content }}{% endif %}</textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary pull-right">
        {% if buddhismknowledge.id %}
          更新
        {% else %}
          创建
        {% endif %}
      </button>
    </div>
  </form>
    </div><!-- /.box-body -->

  <div class="box-footer">
  </div>
</div>
{% endblock %}

{% block script %}
<script>
$(function () {
  CKEDITOR.replace('content');
});
</script>
{% endblock %}
