* { margin:0; padding:0; -webkit-box-sizing: border-box; -moz-box-sizing:border-box; box-sizing:border-box;} 
article,section,nav,address,aside,header,hgroup,footer,time { display:block;}
h1,h2,h3,h4,h5,h6 { color:#303233; text-align: center; font-weight: bold;}
h1{font-size: 21px; }
h2{font-size: 19px; }
h3{font-size: 15px; }
h4{font-size: 14px; }
h5{font-size: 12px; letter-spacing:4px; color: #ababab;}
ul,ol,li {list-style: none;}
body { font:12px Arial; background-color:#fff; color:#303233; height:100%; }
html { -webkit-text-size-adjust: none; height: 100%;}
img { border:0; display:inline-block;}
a { color:#bbbbbc; text-decoration:none;}

 
.index{ width: 100% ; height: 100%; background: url(../images/background.png) no-repeat 0 0 ; background-size:100% 100%;}
.nav{ background: #303133; position: fixed; width: 100%; overflow-x:auto;}
.text{width: 10000px;}
.nav li{float: left;color: #bbbbbc; overflow: hidden;}
.nav a{height:52px;  margin:0 22px 0 18px; line-height: 50px; font-size: 15px; font-weight:bold; display: block; }
.nav a.action{color: #edb30d; border-bottom: 2px solid #edb30d; box-sizing: border-box;}
.nav .special{	margin-right: 60px;}
.user{width: 45px;height:52px; box-shadow: -2px -5px 10px #000; position: fixed; right:0px; background: #303133;}
.user img{margin-top: 15px; margin-left: 9px; border-radius: 50%;}
.logo {text-align: center;}
.logo img{margin-top: 120%;}
.about{height: 34px; width: 115px; border-radius: 40px; border: 2px solid #fbbc05; margin: 0 auto; text-align: center; margin-top: 30px;}
.about span{color:#fbbc05; line-height: 32px; }
.temple-box{padding:75px 20px 65px; }
.content h1{ margin-top: 15px;}
.line{height: 2px; width: 35px; background: #fbbc05; margin:0 auto; margin-top: 17px; margin-bottom: 2px;}
.content p{margin-top: 33px; font-size: 14px; color: #797979;letter-spacing:1px; line-height: 21px;}
.content img{margin-top: 33px;}
.abbot-box{padding:50px 20px 74px; background: #f7f7f7;}
.introduce-abbot .born{text-align: center;}
.introduce-abbot h2{margin-top: 20px; text-align: left;}
.introduce-abbot h4{margin-top: 10px; font-weight: normal; text-align: left;}
.more{height: 34px; width: 115px; border-radius: 40px; border: 1px solid #fbbc05; margin: 0 auto; text-align: center; margin-top: 40px; }
.more span{color:#fbbc05; line-height: 32px; }

.beneficence{height: 750px; background: #f7f7f7;}
.good-work {text-align: center;}
.good-work h1{margin-top: 86px; display: inline-block; }
.good-work h5{ margin-top: 12px; } 
.good-work .picture{margin-top: 35px;}
.donation{margin: 0 25px;}
.pic{margin:0 auto;  height: 120px; width:120px;}
.pic img{height: 120px; width: 120px; border-radius: 50%;}
.amount-of-money{height: 41px; width: 100%; border: 1px solid #d7d7d7; border-radius: 20px; margin:0 auto; margin-bottom: 15px; margin-top: 37px;}
.amount-of-money .icon{width: 52px; height: 39px; background:#d7d7d7; border-radius: 20px 0 0 20px; text-align: center; float: left;}
.amount-of-money .icon span{font-size: 20px; font-weight: bold; color: #fff; line-height: 40px;}
.amount-of-money h3{ margin-left: 62px; line-height: 40px; text-align: left;color: #ababab;}
.button01{height: 39px; width: 100%; background: #1b1c20; border-radius: 20px; margin:12px auto; text-align: center;}
.button01 h3{color: #fff; line-height: 40px;}
.click {padding: 58px 28px 90px; }
.click li{float: left; width: 50%; text-align: center;}
.click h3{margin-top: 12px;}
.click h5{margin-top: 6px;}
.contribution{padding:50px 45px 90px; }
.contribution-hd h5{margin-bottom: 5px; margin-top: 12px; }
.goods li{float: left; width: 50%; text-align: center;margin: 15px 0;}
li.last{ width: 100%; }
.goods h3{margin-top: 12px;}
.goods h5{color:#46b2eb; margin-top: 6px; letter-spacing: 0;}
.clear{clear: both;}
.sculpture{background: #fff;}
.sculpture .center{margin: 0 auto; clear: both;}
.bg-c{background-color: #f7f7f7;}
.amount-of-money .icon-bd{float: left; height: 39px; width: 80%;}
.amount-of-money input{height:75%;width: 96%; font-size: 15px; margin-top: 1%; outline: none; border:0px; padding-left: 10px;}


.detail{background: #f7f7f7; height: 100%;}
.provide-box{text-align: center; background: #fff; border-bottom: 1px solid #eee;}
.provide{margin:0 20px 35px; background: #fff;}
.provide h2{font-size:17px; margin-top: 69px; margin-bottom: 19px; display: inline-block;}
.provide-hd{height: 105px;  border-bottom: #dddcdb solid 1px;} 
.provide-pic{margin-top: 10px;}
.provide-pic img{border-radius:4px;}
.provide-content{margin-top: 20px;}
.provide-content h1{color:#fbbc05; text-align: left;}
.provide-content p{text-align: left; font-size: 14px; color: #797979; padding-top: 20px; line-height: 21px; padding-bottom: 36px; }
.provide-btn{padding: 34px 25px;}

.no-nav{height:52px; background: #f7f7f7;}
.thanks-box{ background: #fff; text-align: center; border-bottom:1px solid #eee; padding-top: 50px;}
.thanks-hd{padding-top: 38px;}
.thanks-hd{font-size: 17px;}
.thanks-box .pic{margin-top: 25px;}
.thanks-box h3{padding-top: 12px;}
.thanks-pay{color:#c9c9cf; padding: 25px 0 40px;font-size: 15px;}
.pray-hd{padding-top:84px;}
.pray-box{box-shadow: 0 2px 10px #d4c7c3; }
.pray-nav{height: 28px; }
.pray h1{padding-top: 15px;}
.pray-text{padding-top: 14px;padding-bottom: 57px; text-align: center;}
.pray-text span{color: #ababab; }
.pray-nav li{height: 28px; float: left;width:50%; text-align: center;}
.pray-nav h4{color: #797979;}
.pray-nav .select{ border-bottom: #fbbc05 solid 2px;}
.pray-nav .select h4{color: #fbbc05;}
.pray-bd{padding: 20px 22px 30px; background: #f7f7f7;}
.pray-bd .pray-bd-pic{float: left;}
.pray-bd-pic img{ height: 52px; width: 52px; border-radius: 50%; }
.pray-bd .pray-bd-content{margin-left: 64px; margin-top: 10px;  background: #fff; height: 86px; border-radius: 0 15px; }
.pray-bd .pray-bd-content .data{padding: 0 12px;}
.pray-bd .pray-bd-content h4{text-align: left; line-height: 16px; padding: 15px 10px 11px;}
.pray-bd .pray-bd-content h5{letter-spacing: 0;}
.pray-bd .pray-bd-content .left{float: left;}
.pray-bd .pray-bd-content .right{float: right;}

.abbot-index{background: #f7f7f7; padding:0 20px 71px; }
.abbot-index .address{padding: 17px 0; border-bottom: #eee solid 1px;}
.abbot-index .address h4{text-align: left; color: #767676;}

.news-box{padding:30px 20px 61px;}
.news{padding-bottom: 20px; border-bottom: #eee solid 1px;}
.news-pic{margin-top:40px;}
.news-content{padding: 20px 0 19px;}
.hd h2{font-size: 17px; color: #2f2f2f; text-align: left;}
.news-info{padding-top: 10px; color: #999; }
.news-info li{float: left; }
.news-text h4{font-size:13px; color: #959595;text-align: left; line-height: 20px;}

.news-detail{padding: 70px 20px 41px;}     
.news-detail .news-info{padding-bottom: 40px; border-bottom: #eee solid 1px; }
.news-detail .news-pic{ margin-top:20px; }
.news-detail .news-pic p{ padding: 20px 0 33px; font-size: 14px; color: #797979; line-height:21px; }

.financing-box{padding:30px 20px 0;}
.financing{padding-bottom: 20px; border-bottom: #eee solid 1px;}
.financing-pic{margin-top:15px;padding-top: 45px; border-top: 1px solid #eee;}
.financing-content{padding-top: 20px;}
.Progress{ margin-top: 10px; height: 29px;}
.Progress .Progress-bar{width: 100%; height: 8px; background: #f0f0f0; border-radius: 20px;}
.Progress .Progress-accomplish{width: 15%; height: 8px; background: #fbbc05;border-radius: 20px;}
.Progress h5{font-size: 13px; text-align: left; font-weight: 200; letter-spacing: 0; padding-top: 6px;}
.start{height: 34px; width: 115px; border-radius: 40px; border: 1px solid #fbbc05; text-align: center; float: right; }
.start span{color:#fbbc05; line-height: 32px; }

.thanks-financing-box{padding: 69px 20px 38px; border-bottom: #eee solid 1px; background: #fff;}
.thanks-financing-box h2{text-align: center;}
.thanks-financing{padding-top: 20px; border-top: #eee solid 1px;}
.thanks-financing .hd{padding-bottom: 18px;}
.thanks-financing-bd{padding-top: 20px;}
.provide-content p{padding-bottom: 0;}

.financing-detail-box{overflow:hidden;padding-top:70px;}
.financing-detail-box .hd { padding-bottom: 20px; border-bottom: 1px solid #eee;}
.financing-detail-box .hd img,span{padding-top: 10px; color: #999;}
.financing-detail-box .Progress{margin-top: 0;}
.img-box img{display: block;}
.financing-detail-box .amount-of-money{ margin-top: 25px; }
.model1{padding-bottom:50px; border-bottom: 1px solid #eee; margin: 0 20px;}
.model1 .donation{margin: 0;}
.model2{padding:0 20px 90px;}
.model2 li{ border-bottom: 1px solid #eee; padding:20px 0 ; }
.model2 h2{text-align: left; font-size: 17px;}
.model2 h3{font-size: 13px; color: #999; margin-top:15px; }
.model2 .left{float: left; border-bottom: 0; padding: 0;}
.model2 .right{float: right; border-bottom: 0; padding: 0;}
.model2 .right .start{margin-top: 15px;}
.model3{background: #f7f7f7;}
.model4{ padding: 50px 0 10px; }
.model4-hd{padding-bottom: 35px; border-bottom: 1px solid #eee;}
.model4 .model4-box{height: 82px; padding: 15px 28px 14px 37px; border-bottom: 1px solid #eee;}
.model4-box li{float: left;}
.model4-box .model4-info{ padding-left:10px }
.model4-box .model4-info h3{text-align: left; margin-top: 5px;}
.model4-box .model4-info h5{letter-spacing: 0; margin-top: 8px;}
.model4-box .right{float: right; padding-top:31px; }
.model4-box .right span{color: #fbbc05;}

.news .left{float: left; border-bottom: 0; padding: 0;}
.news .left h5{letter-spacing: 0; margin-top: 22px;}
.news .right{float: right; border-bottom: 0; padding: 0;}

.event{padding: 70px 0 5px;}
.event .hd{padding:0 20px 20px;}
.form{padding-bottom: 90px;}
.form table{width:100%; }
.form tr{height: 43px; }
.form td{ font-size: 15px; color: #4A4A4A; font-weight: bold;border:1px solid #eee;}
.form td.title{text-align: center; background: #f5f5f5;min-width: 50px;}
.title-bd{ padding:0 20px 0 13px; line-height: 21px;}
.event-content .abbot-box{padding-bottom: 88px;}
.event-content h1{margin: 0;}

.pop{height: 100%; width: 100%; background: rgba(0,0,0,0.5); position: fixed; top: 0;left: 0;}
.apply{margin:10% 5%;width: 90%; padding-bottom:  48px;background: #fff; border-radius: 6px;position: fixed; max-height:90%;min-height:300px; overflow: hidden;}
.apply img{position: absolute; right: 9px; top: 9px;}
.apply .apply-hd{ padding: 20px 20px 20px 15px; border-bottom: 1px solid #eee;}
.apply h2{text-align:left; font-size: 17px; color: #333;}
.apply-bd .sign-in .sign-in-info li{padding-left: 16px;}
.apply .provide-btn{padding-left:15px; padding-right: 15px;}
.apply h4{font-size: 14px; color: #797979;text-align:left; padding-top: 8px;}
.apply-info{ padding: 15px 0 15px 15px; border-bottom: 1px solid #eee; }
.apply-info h3{color: #999; text-align: left; font-size: 15px;}
.apply-info .vertica{height: 14px; width: 3px; background: #fbbc05; margin-top:2px;  margin-right: 10px;}
.apply-info li{float: left;}
.apply-info .grey h3{color: #1b1c20;}
.sign-up{padding-bottom: 10px; overflow-y:auto; max-height: 500px; }


.knowledge{padding-top: 101px; }
.knowledge li{float: left; width: 50%; text-align: center; margin-bottom:30px;}
.knowledge h3{margin-top: 12px;}
.knowledge h5{color:#46b2eb; margin-top: 6px; letter-spacing: 0;}

.guanyin-box{padding: 101px 20px 35px;}
.guanyin-hd h5{color: #303233; padding-bottom: 15px;}
.guanyin .content h2{padding-top: 30px; text-align: left;}
.guanyin .content p.first{ margin-top: 19px; }
.guanyin .content h4{ margin-top: 19px; text-align: left;}

.detail-abbot{padding: 50px 20px 35px;}
.detail-abbot .abbot-box{background: #fff; padding:0;}
.detail-abbot .abbot-box .introduce-abbot h5{color: #303233;}

.login{padding-top: 50px;}
.login-info .login-info-hd{padding: 14px 15px 12px;}
.login-info .login-info-hd h5{letter-spacing: 0; text-align: left; color: #9b9b9b;}
.login-bd{border-top: 1px solid #eee; border-bottom: 1px solid #eee; background: #fff;  padding:0 15px;}
.head-portrait { border-bottom: 1px solid #eee;}
.login-bd .head-portrait .left{float: left;}
.login-bd .head-portrait .left h3{margin-top: 25px;}
.login-bd .head-portrait .right img{border-radius: 50%; margin: 9px 0;}
.login-bd .right{float: right;}
.login-bd .head-portrait hr{color: #eee;}
.login-bd .left{float: left;}
.login-bd .left h3{margin: 13px 0;}
.login-bd .right h4{color: #9b9b9b; font-weight: normal; margin-top: 13px ;}
.login-bd .arrows{margin-top:14px }
.login-bd .bottom-line{border-bottom:1px solid #eee;}
.button02{height: 39px; width: 100%;border:1px solid #e54747; border-radius: 20px; margin:12px auto; text-align: center;}
.button02 h3{color: #e54747; line-height: 40px;}

.contribute{padding-top: 50px;}
.contribute .contribute-hd{padding: 14px 15px 12px;}
.contribute .contribute-hd h5{letter-spacing: 0; text-align: left; color: #9b9b9b;}
.contribute-form table{width: 100%;}
.contribute-form tr{height: 43px;}
.contribute-form td{ font-size: 15px; color: #4A4A4A; font-weight: bold;border:1px solid #eee;text-align: center; background: #f5f5f5;}
.contribute-form td.item{width: 66px; }
.contribute-form td.time{width: 168px; }
.contribute-form td.money{width: 66px; }
.contribute-form td.state{width: 91px;}
.contribute-form-detail td{background: #fff;}

.form .bless td.title{height:71px; width: 66px;text-align: center; background: #f5f5f5;}



.sign-in{height: 88px; padding-left: 16px;}
.sign-in-info .sign-in-info-box{height: 46px; line-height: 46px; }
.sign-in-info input{height:100%;width: 100%; font-size: 15px;outline: none; -webkit-box-flex: 1;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);border: 0;outline: 0;-webkit-appearance: none;background-color: transparent;font-size: inherit;color: inherit;}
.sign-in .provide-btn{ padding: 0 16px 0 0 ; }
.button03{height: 39px; width: 100%; border-radius: 20px; margin: 12px auto; text-align: center; background: #ddd;}
.button03 h3{color: #fff; line-height: 40px;}
.button04{height: 39px; width: 100%; border-radius: 20px; margin:12px auto; text-align: center; background: #39af43;}
.button04 h3{color: #fff; line-height: 40px;}
.key{color:#c9c9cf; font-size: 12px; padding-top: 8px; padding-right: 16px;}
.key span{color: #c9c9cf;}
.key li.left{float: left;}
.key li.right{float: right;}
.sign-in-info-bottom{border-bottom: 1px solid #eee;}

.retrieve-password-hd{padding: 13px 0 10px 14px; }
.retrieve-password-hd h5{ text-align: left; letter-spacing: 0; font-size: 13px;}
.retrieve-password-bd{border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding-left: 15px; background: #fff;}
.retrieve-password-bd h3{text-align: left; color: #9b9b9b; padding: 14px 0 14px ; }

.security-code .left{float: left;}
.security-code .right{float: right; padding:0 10px; border-left: 1px solid #eee;line-height: 46px;}
.security-code .right h3{color: #525252; height: 46px; padding: 0;}